* {
    padding: 0;
    margin: 0;
    border: 0;

}
    div {
        width: 300px;
        height: 100px;
        background-color: yellow;
        border: 1px solid black;
      }
      
      div#myDiv {
        -ms-transform: rotate(20deg); /* IE 9 */
        transform: rotate(20deg); /* Standard syntax */
      }div

body {
    background-image: url(../images/szabikaaa.jpg);
    font-family: arial;
    font-size: 100%;
    color: #914040;

}

p{
    color: #810505;
}

a {
    color: #0a6c85;

}
div.clear{
    clear:both;

}
div#wrapper{
    width:800px;
    margin:20px auto;

}
header{
    font-size: 360%;
    font-weight: bold;
    font-family: "trecbuchet MS";
    text-shadow: 2px 2px 2px #000000;
    color: white;

}
header span{
    color: black;
}
nav{
    padding:10px;
    margin:20px 0;
    color: #000;
    box-shadow: 0px 0px 5px #000000;
}
nav a{
    color:#000;
    margin:0 10px;
    text-decoration: none;
    font-family: "trecbuchet MS";
}

nav a:first-child{margin-left: 20px;}
nav a:hover{text-decoration: underline;}

section{
    width: 558px;
    float: left;
    margin:0 20px 0 0;
    padding: 0 20px 0 0;
    border-right: 2px dotted #000000;
}
aside{
    width: 200px;
    float: right;
    font-size: 80%;
}

section article{
    margin: 20px;
}

section article h1{
    margin: 0 0 10px 0;
    font-size: 150%;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    font-family: "trecbuchet MS";
}

section article p{
    text-align: justify;
    line-height: 140%;
    font-variant-alternates: 85%;
}

figure{
    background: #333335f1;
    background-color: #000000;
    padding: 10px;
    margin:0 0 2px 0;
}

figure img{
    max-width: 100%;
    min-width: 100%;
}

figure figcaption{
    margin: 6px 0 0 0;
    font-style: italic;
    font-size: 80%;
}

footer{
    width: 760px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(23, 182, 9, 0.589);
    text-align: center;
}

footer a{
    margin: 0 15px;
}

@media only screen
and (min-width:482px)
and (max-width:800px)
{
    div#wrapper{width:600px}
    header{font-size: 320%;}
    section{width:408px}
    aside{width:150px}
    footer{width:506px}
}

@media only screen
and (min-width:320px)
and (max-width:480px)
{
    div#wrapper{width:400px}
    header{font-size: 200%;}
    section{width:408px; border:0; margin:0; padding:0;}
    aside{display:none}
    footer{width:360px}
}

@media only screen
and (min-width:240px)
and (max-width:320px)
{
    div#wrapper{width:300px}
    header{font-size: 100%; text-align: center}
    header span{display: block}
    nav{ text-align: center;}
    nav a{margin:0 3px }
    nav a:first-child{margin:0 3px }
    section{width: 300px; border:0; margin:0; padding:0; }
    aside{display:none}
    footer{display:none}
}